.sidenav {
  padding: 20px;
  width: 15vw;
  position: fixed;
  background-color: var(--secondary-color);

  &-logo {
    --logo-size: 50px;
    width: var(--logo-size);
    height: var(--logo-size);

    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 1rem;
    }
  }

  &-section {
    margin-bottom: 1rem;

    &-title {
      margin-bottom: 0.5rem;
    }

    &-content {
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      padding: 0.5rem 1rem;
      border-radius: 5px;

      background-color: var(--body-text-color);
    }
  }

  &-lang-btn {
    border: none;
    border-radius: 5px;
    background-color: var(--body-text-color);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover {
      opacity: 0.7;
    }

    &.active {
      background-color: var(--primary-color);
      color: var(--body-text-color);
      border-color: transparent;
    }
  }

  &-links {
    flex-direction: column;

    .sidenav-link {
      text-decoration: none;
      color: var(--secondary-color);
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      transition: all 0.25s ease-in-out;

      &:hover {
        color: var(--primary-color);
      }
    }
  }

  &-btn-exit {
    margin-top: 1rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 0;
    cursor: pointer;
    color: var(--body-text-color);
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--primary-color);
    transition: all 0.25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    &:hover {
      background-color: var(--body-text-color);
      color: var(--primary-color);
    }
  }

  &-content {
    background-color: var(--body-background);
    padding-top: 3rem;
  }

  &-part {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 1rem;
    margin-top: 1rem;
    display: flex;
    background-color: var(--secondary-color);

    &-btn {
      display: flex;
      border-radius: 5px;
      font-weight: bold;

      mat-icon {
        margin-right: 0.25rem;
      }
    }
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;

  h1 {
    font-size: 2.25rem;
  }

  img {
    --logo-size: 50px;
    width: var(--logo-size);
    height: var(--logo-size);
    margin-right: 1rem;

    &.flipped {
      margin-left: 1rem;
      margin-right: 0;
      transform: scaleX(-1);
    }
  }
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1rem;
  font-weight: bold;
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;

  &.active {
    background-color: #ef402b;
    color: var(--white);
  }

  &:last-child {
    margin-right: 0;
  }

  &-container {
    display: flex;
    justify-content: flex-end;
  }

  &-img {
    --img-size: 30px;
    width: var(--img-size);
    height: auto;
  }
}
