<div class="list-wrapper">
  <h2 class="section-title">{{ 'GALLERY' | translate }}</h2>

  <div class="filter">
    <h4>{{ 'CHOOSE' | translate }}</h4>
    <mat-form-field>
      <mat-label>{{ 'MONTH' | translate}}</mat-label>
      <mat-select
        [value]="selectedValue"
        (selectionChange)="onSelectionChange($event)"
      >
        <mat-option *ngFor="let month of months" [value]="month.value">
          {{ month.viewValue | uppercase | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="months">
    <div class="month" *ngFor="let month of months">
      <h2 
        class="section-title section-title-month"
        *ngIf="month.viewValue !== 'All' && (selectedValue === month.value || selectedValue === 'all')"
      >
        {{ month.viewValue | uppercase | translate }}, 2024
      </h2>

      <div class="disease-container">
        <ng-container *ngFor="let disease of diseases">
          <app-disease-card
            class="disease-card"
            *ngIf="
              (selectedValue === 'all' && disease.date === month.value) ||
              (selectedValue === month.value && disease.date === selectedValue)
            "
            [disease]="disease"
          >
          </app-disease-card>
        </ng-container>
    </div>
  </div>
</div>