.sidebar .sidebar-brand-wrapper .sidebar-brand img {
  width: 50px;
  height: auto;
}

.sidebar .sidebar-brand-wrapper .sidebar-brand.brand-logo-mini img {
  width: 35px;
  height: auto;
}

.nav-item.dropdown.border-left {
  border-left-color: transparent !important;
}

.owl-carousel .owl-item img {
  height: 70vh;
}

.diseases-container {
  display: flex;
  justify-content: center;
}