img {
  max-width: 250px;
  height: 250px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

h3 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: normal;
  font-size: 0.9rem;
  font-style: italic;
}

img {
  margin-bottom: 2rem;
}

.description {
  font-style: italic;
  text-align: center;
}

.treatment {
  margin-top: 1rem;
  text-align: center;
  color: #2eb82e;

  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
