<mat-card class="example-card">
  <div>
    <h2>{{ disease.name | uppercase | translate }}</h2>
    <h3 [ngClass]="{
      'text-green': disease.confidence > 70,
      'text-yellow': disease.confidence > 30 && disease.confidence <= 70,
      'text-red': disease.confidence <= 30
    }"
    
    >{{ 'CONFIDENCE' | uppercase | translate }}: {{ disease.confidence }} %</h3>
  </div>
  <img mat-card-image [src]="disease.image" [alt]="disease.name">
  <mat-card-content>
    <p class="description">
      {{ disease.description | translate }}
    </p>
    <h4 class="treatment" *ngIf="disease.name !== 'Healthy'">{{ 'TREATMENT' | translate }}</h4>
    <ul class="treatment-list">
      <li class="treatment-item" *ngFor="let t of disease.treatment">
        {{ t | translate }}
      </li>
    </ul>
  </mat-card-content>
</mat-card>
