<mat-card class="card" [ngClass]="{'active': disease.name !== 'Healthy'}">
  <div class="card-header">
    <h2 class="card-title">{{ disease.name | uppercase | translate }}</h2>
    <h3 class="card-subtitle text-badge" [ngClass]="{
      'text-green': disease.confidence > 70,
      'text-yellow': disease.confidence > 30 && disease.confidence <= 70,
      'text-red': disease.confidence <= 30
    }"
    
    >{{ 'CONFIDENCE' | uppercase | translate }}: {{ disease.confidence }} %</h3>
  </div>
  <img class="card-img" mat-card-image [src]="disease.image" [alt]="disease.name"
    [ngClass]="{'card-img-healthy': disease.name === 'Healthy'}"
  >
  <mat-card-content class="card-content">
    <p class="description">
      {{ disease.description | translate }}
    </p>
    <div class="treatment-title-wrapper">
      <h4 class="treatment-title" *ngIf="disease.name !== 'Healthy'">{{ 'TREATMENT' | translate }}</h4>
    </div>
    <ul class="treatment-list">
      <li class="treatment-item" *ngFor="let t of disease.treatment">
        {{ t | translate }}
      </li>
    </ul>
  </mat-card-content>
</mat-card>
