@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

.live {
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  &-icon {
    --size: 20px;
    width: var(--size);
    height: var(--size);
    margin-right: 0.5rem;
    @include keyframes(fade) {
      0%, 100% {
        opacity: 1;
      }
      25%, 75% {
        opacity: 0.5;
      }
      50% {
        opacity: 0;
      }
    }
    @include animate(fade, 1.5s, linear, infinite);
  }

  &-title {
    text-transform: uppercase;
  }

  &-img {
    --img-size: 500px;
    border-radius: 5px;
    width: var(--img-size);
    height: auto;
    margin-bottom: 2rem;

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &-btn {
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #ef402b;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #fff;
      color: #ef402b;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;

      &:hover {
        background-color: #ef402b;
        color: #fff;
      }
    }
  }
}

.refresh {
  &-container {
    display: flex;
    justify-content: flex-end;
  }

  &-btn {
    --bg-btn-color: #127512;
    border: none;
    border-radius: 5px;
    background-color: var(--bg-btn-color);
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #fff;
      color: var(--bg-btn-color);
    }
  }
}

.btn {
  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

.robotino {
  &-btn {
    background-color: var(--secondary-color);

    &:hover {
      background-color: var(--body-text-color) !important;
      color: var(--secondary-color) !important; 
    }
  }
}